<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>
            <div class="blogs content">
                <h2>All Blogs</h2>
                <% if(blogs.length>0){ %>
                    <% blogs.forEach(blogs=> { %>
                        <a class="single" href="/blogs/<%= blogs._id %>">
                            <h3 class="title">
                                <%= blogs.title %>
                            </h3>
                            <p class="snippet">
                                <%= blogs.snippet %>
                            </p>
                        </a>
                        <% }); %>
                            <% }else { %>
                                <p>There are no Blogs to display</p>
                                <% } %>
            </div>
            <%- include('../partials/footer.ejs') %>
                <!-- The core Firebase JS SDK is always required and must be listed first -->
                <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

                <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

                <script>
                    // Your web app's Firebase configuration
                    var firebaseConfig = {
                        apiKey: "AIzaSyAPtZhspUKSWJzpr8OCx-gOUvpFY_G1dNM",
                        authDomain: "blogopedia-blogapp.firebaseapp.com",
                        projectId: "blogopedia-blogapp",
                        storageBucket: "blogopedia-blogapp.appspot.com",
                        messagingSenderId: "126970132654",
                        appId: "1:126970132654:web:90a33481a004142327953f"
                    };
                    // Initialize Firebase
                    firebase.initializeApp(firebaseConfig);
                </script>
    </body>

</html>